.container{
    max-width: 550px;
    height: 100vh;
    border: 1px solid darkslategray;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
    color:rgb(49, 49, 49)
}

h1,h2,h3,span{
    margin: 0;
    padding: 25px 5px;
}

h1{
    font-size: 8rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.4rem;
}

.degrees{
    font-size: 4rem;
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

#desc{
    padding-right: 1em;
}